<!DOCTYPE html>
<html>
    <head>
        <title>
            add new
        </title>
    </head>
    <body>
        <form action="/add" method="POST">
           
            <label for="pid"> pid</label>
            <input type="number"   name="pid" ><br><br>
            <label for="category">enter category</label>
            <input type ="text"   name="category" ><br><br>
            <label for=" type">enter Type</label>
            <input type="text" name="type"><br><br>
            <label for="stock">enter the stock</label>
            <input type="number" name="stock"><br><br>
            <label for="price">enter the selling price</label>
            <input type="number" name="price"><br><br>
            <label for ="size">enter the product size</label>
            <input type="number" name="size"><br><br>
            <input type="submit" value="Submit">
 
        </form>
    </body>
    
</html>