<!DOCTYPE html>
<html>
    <head>
        <title>
            delete
        </title>
    </head>
    <body>
        <h1> delete the stock</h1>
        <form action ="/delete" method="post">
            <label>enter the id</label>
            <input type="number" placeholder="enter the number" name="pid"><br><br>
            <button id ="delete">delete</button>

        </form>
    </body>
</html>