<!DOCTYPE html>
<html>
    <head>
        <title>
            upadate    
        </title>
    </head>
    <body>
        <h1>
            update quantity of product
        </h1>
        <form action="/update" method="post">
            <label> pid:</label>
            <input type="number" placeholder="name" name ="pid"><br><br>
            <label> enter new stock</label>
            <input type="number" placeholder="enter additional stock"name="stock"><br><br>
            <button id= "update" >update </button>

        </form>

    </body>
</html>